.center{
    text-align: center;
}


body {
    background-image: url("../src/light-grey-terrazzo.webp");
    
    background-color: #cccccc;
}

.spin{

    text-align: center;
    animation-name: spin;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.virus{

    color: rgb(68, 0, 0);
}

@keyframes spin {
    from {
        transform:rotate(-1deg);
    }
    to {
        transform:rotate(1deg);


    }
}